@using BEditor.Models
@using BEditor.Core.Data
<div style="
    height: @($"{Settings.Default.ClipHeight}px");
    /*position: absolute; */
    position: sticky;
    display: inline-block;
    margin-left: @($"{Clip.Parent.ToPixel(Clip.Start) - Margin_Left}px");
    width: @($"{Clip.Parent.ToPixel(Clip.Length)}px")">
    <div style="
        height: @($"{Settings.Default.ClipHeight}px");
        cursor: move;
        background: @($"{Element.GetAttribute().GetColor.ToString("#rgb")}");"
        draggable="true"
        @ondragstart="@OnDragStart"
        @ondragend="@OnDragEnd">
        
        <span style="font-size: 14px; margin-left: 8px;">@Element.Name   @Clip.LabelText</span>
    </div>
</div>